 /* Estilos para las estrellas */
 .rating {
    font-size: 24px;
    color: gold;
}

*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #D5F9DE;
}

#titulo{
    background-color: #DBF4A7;
    width: 100vw;
    height: 100px;
    border-bottom: solid #395757;   
}

#titulo h1{
    text-align: center;
    padding: 2%;
    font-family: monospace;
    font-size: 45px;
    color: #395757;
}

#agregar{
    background-color: #DBF4A7;
    width: 100vw;
    height: 100vh;
    border-top: solid #395757;
}

#agregar h2{
    padding: 1%;
    font-family: monospace;
    font-size: 25px;
    color: #395757
}

#comment-form{
    margin: 1%;
    width: 390px;
    height: auto;
    padding: 1%;
    background-color: #8FA6CB;
    border-radius: 2%;
}